langchain
streamlit
chainlit
auto-gptq==0.2.0
transformers
huggingface-hub
accelerate
ctransformers
sentence-transformers
unstructured
pypdf
pdf2image
pypdf2
InstructorEmbedding
python-dotenv
faiss-cpu
gradio